.main-container{
  min-height: 1000px;
  background: rgba(128, 128, 128, 0.15);
  width: 80%;
  margin: 0 auto;
  border-radius: 20px;
  position: relative;



  .all-image{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    padding: 5px;
    position: relative;


    .card{
      height: 350px;
      width: 86%;
      margin: 30px auto;
      border-radius: 10px;
      position: relative;
      background: linear-gradient(180deg,hsla(0,0%,100%,0),rgba(0,0,0,.5));






      .title-appart{
        color: white;
        position: absolute;
        top: 70%;
        font-size: 22px;
        left: 10px;
        width: 70%;



      }
    ;

      img{
        height: 100%;
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
        position: absolute;
        z-index: -1;

      }

    }

  }
}
