.image-picture{
  margin: 0 auto;
  display: flex;
  justify-content: center;

  .image-pictures{
    width: 80%;
    height: 370px;
    object-fit: cover;
    position: absolute;
    border-radius: 20px;
    display: block;
  }

  .toutou{
    background: none;
    border: none;
    cursor: pointer;
    top: 150px;
    z-index: 2;
    position: relative;

  }

  .left{
    right: 35%;
  }

  .right{
    left: 36%;
  }

  .counter{
    position: relative;
    top: 300px;
    transform: translateX(-40px);
    font-size: 20px;
    color: white;
    font-family: "Mont", serif;
  }

}@media only screen and (max-width: 375px) {

  .image-picture{
    margin-top: -30px;
    .image-pictures{
      width: 90%;
      height: 300px;
      border-radius: 15px;

    }
    .toutou{
      margin-top: -10px;
      .arrow{
        height: 24px;
        margin-left: -35px;
      }
      .arrowRi{
        height: 24px;
        margin-right: -35px;
      }
    }


    .counter{
      display: none;
    }

  }

}