.Header{
  display: flex;
  font-family: "Mont", serif;
  justify-content: space-between;
  align-items: center;
  width:80%;
  margin: 0 auto 60px;
  padding-top: 50px;

  img{
    height: 70px;
  }

  .Navigation{
    display: flex;
    width: 300px;
    justify-content: space-around;
    .nav-btn{
      text-decoration: none;
      list-style: none;
      .nav-text{
        text-decoration: none;
        color: $color1;
        font-size: 23px;
      }

      .isactive{
        text-decoration: underline $color1 1.4px;
      }

    }
  }
}