.Header{
  display: flex;
  font-family: "Mont", serif;
  justify-content: space-between;
  align-items: center;
  width:80%;
  margin: 0 auto 60px;
  padding-top: 50px;

  img{
    height: 70px;
  }

  .Navigation{
    display: flex;
    width: 300px;
    justify-content: space-around;
    .nav-btn{
      text-decoration: none;
      list-style: none;
      .nav-text{
        text-decoration: none;
        color: $color1;
        font-size: 23px;
      }

      .isactive{
        text-decoration: underline $color1 1.4px;
      }

    }
  }
}

@media only screen and (max-width: 768px) {
  .Header{
    padding-top: 20px;
    width: 90%;

    img{
      height:47px;
    }

    .Navigation{
      width: 150px;
        justify-content: space-between;
      .nav-btn{
        .nav-text{
          font-size: 17px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px){
  .Header{
    width: 93%;
  }
}