.body-about{
  width: 100%;
}

.divImageAbout{
  width: 80%;
  margin: 20px auto;

  .imageAbout{
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
    width: 100%;

  }
}

@media only screen and (max-width: 375px) {
  .divImageAbout{
    width: 90%;
  }
}
