.pageError{
  display: flex;
  flex-direction: column;

  h1{
    font-size: 300px;
    color: #FF6060;
    text-align: center;
    margin-top: 30px;
  }

  .oups{
    font-size: 40px;
    text-align: center;
    color: #FF6060;
    margin-top: -200px;
    margin-bottom: 200px;
  }

}

.pageReturn{
  text-align: center;
  color: #FF6060;
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .pageError{
    h1{
      font-size: 96px;
    }

    .oups{
      margin-top: 0;
      font-size: 18px;
      margin-bottom: 100px;
    }
  }
  .pageReturn{
    margin-bottom: 70% !important;
  }
}

@media only screen and (max-width: 1024px) {
  .pageError{
    h1{
      font-size: 96px;
    }

    .oups{
      margin-top: 0;
    }
  }
  .pageReturn{

    margin-bottom: 20%;
  }
}





